<!doctype html>
<html lang="ko"
      layout:decorate="~{layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>에프비앤비</title>
</head>
<div layout:fragment="content">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">MV 몰디브</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vis, 크로아티아</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border-color: white">
        <img src="https://source.unsplash.com/random" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">스웨덴</h5>
          <p class="">서울특별시 금천구</p>
          <p class="card-text">888,471원/1박</p>
        </div>
      </div>
    </div>
  </div>
</div>
